<% provide(:title, 'Home') %>
<div class="center">
	<div class="main">
	  <h1>Welcome to the SAPS App</h1>
	  <h2>
	    This is the home page for the
	    UWEC-LTS SAPS Application.
	  </h2>
		<p>The Student Agile Project Software Application, S.A.P.S., is used to track students that are working<br>
		on projects with the PivotalTracker web application. This application is meant to work side by side <br> with
		PivotalTracker, to allow supervisors and managers to track their workers progress day by day, instead of <br>
		through the project updates of the PivotalTracker application, and to allow for students to respond and <br>
		assist supervisors, with their scheduling.</p>
	</div>
</div>



