<% provide(:title, 'Home') %>
<div class="center">
	<div class="main">
	  <h1>Welcome to the SAPS App</h1>
	  <h2>
	    This is the home page for the
	    UWEC-LTS SAPS Application.
	  </h2>
		<p>The Student Agile Project Software Application, S.A.P.S., is used to track students that are working<br>
		on projects with the PivotalTracker web application. This application is meant to work side by side <br> with
		PivotalTracker, to allow supervisors and managers to track their workers progress day by day, instead of <br>
		through the project updates of the PivotalTracker application, and to allow for students to respond and <br>
		assist supervisors, with their scheduling.</p>
	</div>
</div>


<ul id="tabs">
      <li><a id="tab1">Calendar</a></li>
      <li><a id="tab2">Users</a></li>
      <li><a id="tab3">Message Center</a></li>
      <li><a id="tab4">EventInfor</a></li>
      <li><a id="tab5">Pivotal</a></li>
    </ul>
  
  
  
  
 <div class="containerT" id="tab1C">
   <div class="calendar">
      <%= render "shared/calendar" %>
   </div>
 </div>

 <div class="containerT" id="tab2C">
   <div class="userinfobar">
     <%= render 'shared/user_infobar'%>
   </div>
  <div class="userpicker">
     <%= render 'shared/user_picker' %>
  </div>
</div>


<div class="containerT" id="tab3C">
	<div id="siteloader2">
   	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
   	 <script>
   	  $("#siteloader2").html('<object data="https://webmail.uwec.edu/">');
 	  </script>
 	</div>
</div>
 
<div class="containerT" id="tab4C">
  <div class="eventinfo">
 	<%= render 'shared/event_info' %>
  </div>
</div>

<div class="containerT" id="tab5C">
	<div id="siteloader">
   	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
   	 <script>
   	  $("#siteloader").html('<object data="http://www.pivotaltracker.com">');
 	  </script>
 	</div>
</div>
 

