<h1>Users</h1>

	<ul id="tabs">
		<li><a id="tab1">Calendar</a></li>
		<li><a id="tab2">UserInfo</a></li>
		<li><a id="tab3">UserPicker</a></li>
		<li><a id="tab4">EventInfor</a></li>
	</ul>

	
	

<div class="containerT" id="tab1C">
	<div class="calendar">
		<!-- render 'shared/calendar'-->
	</div>
</div>
<div class="containerT" id="tab2C">
	<div class="userinfobar">
		
	</div>
</div>

<div class="containerT" id="tab3C">
	<div class="userpicker">
		
	</div>
</div>

<div class="containerT" id="tab4C">
	<div class="eventinfo">
	<!--render 'shared/event_info'-->
	</div>
</div>




