<!-- Create a pagniated table of users for selecting a user and making them the active user
 
create selector for department
create list of users for that department and option to click them
-->

<div class="UsersList">
	<h3>Users</h3>

	<ul>
		<li>
		<%= will_paginate(@users) %>
		</li>
	</ul>





</div>


