<!-- Display information about the current user -->

<div class="UserInfoBox">
	<h3>User Information</h3>

		<%= @user= User.find(1)%>	
	<ul>
		<li>
			Username: &nbsp; <%= @user.username %>
		</li>
		<li>
			Email: &nbsp; <%= @user.email %>
		</li>
		<li>
			Name: &nbsp; <%= @user.name %>
		</li>

	</ul>
</div>


