<footer>
	  <nav>
	    <ul>
			 <li><a href="http://www.pivotaltracker.com/">PivotalTracker</a></li>
	     <li><%= link_to "About",   about_path %></li>
 	     <li><%= link_to "Contact", 'http://www.uwec.edu/contact.htm' %></li>
 	     <li><a href="http://www.uwec.edu/">UWEC</a></li>
 	   </ul>
	  </nav>
	</div>
</footer>


